<!DOCTYPE html>
<html lang="es-AR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="/fragments/head :: head"></head>
 
<body>

    <header th:replace="/fragments/header :: header"></header>
    
    <main>
        <div class="titulos p-2 text-success">
            <h2 class="display-3 d-flex justify-content-center">REGISTRA A TU MASCOTA</h2>
        </div>
        <form class="row g-3 d-flex justify-content-center px-4" method="post" action="/send.php"
            enctype="multipart/form-data">
            <div class="col-md-6">
                <input type="text" name="USER"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Nombre de Usuario">
            </div>
            <div class="col-md-6">
                <input type="password" pass="password"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Contraseña de usuario">
            </div>
            <div class="col-6">
                <input type="text" name="name"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Ingresa aquí el NOMBRE de la mascota">
            </div>
            <br> <br>
            <div class="col-6">
                <input type="Age" name="age" class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Ingrese aquí la EDAD de la mascota (en meses)">
            </div>
            <div class="col-12">
                <input type="specie" name="tipo mascota"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Indique la especie de la mascota (por ej: perro, gato, etc)">
            </div>
            <div class="col-md-3">
                <input type="text" name="neighbourhood"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Barrio">
            </div>
            <div class="col-md-3">
                <input type="text" name="city"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Ciudad">
            </div>
            <div class="col-md-3">
                <input type="text" name="province"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Provincia">
            </div>
            <div class="col-md-3">
                <input type="text" name="country"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded" placeholder="Pais">
            </div>
            <div class="col-md-6">
                <input type="number" name="phoneNumber"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Numero de telefono">
            </div>
            <div class="col-md-6">
                <input type="number" name="alternativeNumber"
                    class="form-control border border-success shadow p-2 mb-1 bg-body rounded"
                    placeholder="Numero de telefono alternativo">
            </div>
            <div class="input-group mb-3">
                <input class="form-control border border-success shadow p-2 mb-1 bg-body rounded" type="file"
                    name="photoPet" placeholder="Adjunte la foto de la mascota">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            <br>
        </form>
        <br>

        <aside>

        </aside>

    </main>

	<footer th:replace="/fragments/footer :: footer"></footer>

    <script src="/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>