<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="/fragments/head :: head"></head>

<body>
 <header th:replace="/fragments/header :: header"></header> 

  <main>
    <section>
      <div class="container d-flex justify-content-center">
        <p class="display-3 text-light">Encuentra a tu mascota</p>
      </div>
      <div class="wrap">
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="adelante card1"></div>
            <div class="atras">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum, suscipit,
                aspernatur!</p>
            </div>
          </div>
        </div>
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="adelante card2"></div>
            <div class="atras">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum, suscipit,
                aspernatur!</p>
            </div>
          </div>
        </div>
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="adelante card3"></div>
            <div class="atras">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum, suscipit,
                aspernatur!</p>
            </div>
            <section class="NextPrevious" >
              <a href="#" class="next">Next &raquo;</a>
          </section>
          </div>
        </section>
      </header>
      <section class="NextPrevious">
        <a href="#" class="next">Ver mas &raquo;</a>
    </section>
      <br>
<br>
<br>
<br>
      </div>

      <!-- <div class="container-fluid d-flex justify-content-around align-content-end flex-wrap">
        <div class="card-img" style="width: 50vh;">
          <img src="img/Logo-Huella.png" class="card-img-top " alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-success rounded-5 m-2" style="width: 50vh;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-primary rounded-5 m-2" style="width: 50vh;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
      </div>

      </div>-->
   <!-- </section>
    <div class="container-fluid d-flex justify-content-around align-content-end flex-wrap">
      <div class="card-img border border-5 border-info rounded-5 m-2" style="width: 50vh;">
        <img src="img/Logo-Huella.png" class="card-img-top " alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border border-5 border-primary rounded-5 m-2" style="width: 50vh;">
        <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card-img border border-5 border-info rounded-5 m-2" style="width: 50vh;">
        <img src="img/Logo-Huella.png" class="card-img-top " alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>-->
      <!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>-->

      <!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>

          </div>
        </div> -->
      <!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>-->

      <!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
        </div>-->
        <!--</div>-->
    </div>

    <aside>

    </aside>

  </main>

    <footer th:replace="/fragments/footer :: footer"></footer>
  <script src="/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>