<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">


<head th:replace="/fragments/head :: heads"></head>


<body>
	<header th:replace="/fragments/header :: header"></header>
  <main>
    <section>
      <div class="container d-flex justify-content-center">
        <p class="display-3 titulo2">Encuentra a tu mascota</p>
      </div>
      <div class="wrap">
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="adelante card1">
				<img class="imag" th:src="${'/pet/photo?id=' + pet1.id}">
			</div>	
            <div class="atras">
                <div>
              <p>Mi nombre es <!--/*@thymesVar id="pet1" type=""*/-->
              <span  th:text="${pet1.name}"></span> y tengo <span th:text="${#strings.toString(pet1.ageInMonths)}">.</span>
              Soy <span th:text="${pet1.breed}"></span>, de sexo <span th:text="${pet1.sex}"></span>. Mi peso es de <span th:text="${pet1.weight}"></span> kilos y soy de
               tamaño <span th:text="${pet1.size}"></span>. </p >
                </div>
            </div>
          </div>
        </div>
       <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="adelante card1">
				<img class="imag" th:src="${'/pet/photo?id=' + pet2.id}">
			</div>	
            <div class="atras">
                <div>
              <p>Mi nombre es <!--/*@thymesVar id="pet2" type=""*/-->
              <span  th:text="${pet2.name}"></span> y tengo <span th:text="*{pet2.ageInMonths}">.</span>
              Soy <span th:text="${pet2.breed}"></span>, de sexo <span th:text="${pet2.sex}"></span>. Mi peso es de <span th:text="*{pet2.weight}"></span> kilos y soy de
               tamaño <span th:text="${pet2.size}"></span>. </p >
                </div>
            </div>
          </div>
        </div>
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="adelante card1">
				<img class="imag" th:src="${'/pet/photo?id=' + pet3.id}">	
			</div>
            <div class="atras">
                <div>
              <p>Mi nombre es <!--/*@thymesVar id="pet3" type=""*/-->
              <span  th:text="${pet3.name}"></span> y tengo <span th:text="*{pet3.ageInMonths}">.</span>
              Soy <span th:text="${pet3.breed}"></span>, de sexo <span th:text="${pet3.sex}"></span>. Mi peso es de <span th:text="*{pet3.weight}"></span> kilos y soy de
               tamaño <span th:text="${pet3.size}"></span>. </p >
                </div>
            </div>
          </div>
        </div>   
       </div>
    </section>
  
    <section class="NextPrevious">
      <a th:if="${session.UserSession != null}" text-light target_self th:href="@{/pet/showPets}" class="next">Ver más &raquo;</a >
      <a th:if="${session.UserSession == null}" text-light target_self th:href="@{/user/login}" class="next">Ver más &raquo;</a >
    </section>
    <br>
    <br>
    <br>
    <br>
    </div>

    <!-- <div class="container-fluid d-flex justify-content-around align-content-end flex-wrap">
        <div class="card-img" style="width: 50vh;">
          <img src="img/Logo-Huella.png" class="card-img-top " alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-success rounded-5 m-2" style="width: 50vh;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-primary rounded-5 m-2" style="width: 50vh;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
      </div>
      </div>-->
		<!-- </section>
    <div class="container-fluid d-flex justify-content-around align-content-end flex-wrap">
      <div class="card-img border border-5 border-info rounded-5 m-2" style="width: 50vh;">
        <img src="img/Logo-Huella.png" class="card-img-top " alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card border border-5 border-primary rounded-5 m-2" style="width: 50vh;">
        <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card-img border border-5 border-info rounded-5 m-2" style="width: 50vh;">
        <img src="img/Logo-Huella.png" class="card-img-top " alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>-->
		<!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>-->

		<!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
          <img src="img/Logo-Huella.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div> -->
		<!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>-->

		<!--<div class="card border border-5 border-danger rounded-5" style="width: 18rem;">
            <img src="../static/img/Logo-Huella.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
        </div>-->
		<!--</div>-->
		</div>

		<aside>

		</aside>
	
	
	</main>

	<footer th:replace="/fragments/footer :: footer"></footer>

	<script src="bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>