<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">


<head th:replace="/fragments/head :: head"></head>


<body>
<header th:replace="/fragments/header :: header"></header>
<main>

    <div>
        <form th:action="@{/pet/one/__${pet1.id}__}" method="post">
        <p>Mi nombre es <!--/*@thymesVar id="pet1" type=""*/-->
            <span  th:text="${pet1.name}"></span> y tengo <span th:text="${pet1.ageInMonths}">.</span>
            Soy <span th:text="${pet1.breed}"></span>, de sexo <span th:text="${pet1.sex}"></span>. Mi peso es de <span th:text="*{pet1.weight}"></span> kilos y soy de
            tamaño <span th:text="${pet1.size}"></span>. </p >
        </form>
    </div>
</main>

 	<footer th:replace="/fragments/footer :: footer"></footer>
  	<script src="/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
