<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="/fragments/head :: head"></head>

<body>

	<header th:replace="/fragments/header :: header"></header>
	
    <div class="titulos text-success d-flex justify-content-center">
        <h2 class="display-3 ">CONOCE A TU PROXIMA MASCOTA</h2>
    </div>
    <section>
        <div class="wrap">
            <div class="tarjeta-wrap">
                <div class="tarjeta">
                    <div class="adelante card1"></div>
                    <div class="atras">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum,
                            suscipit,
                            aspernatur!</p>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante card1"></div>
                        <div class="atras">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum,
                                suscipit,
                                aspernatur!</p>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante card1"></div>
                            <div class="atras">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae.
                                    Illum, suscipit,
                                    aspernatur!</p>
                            </div>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="tarjeta-wrap">
                            <div class="tarjeta">
                                <div class="adelante card1"></div>
                                <div class="atras">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae.
                                        Illum, suscipit,
                                        aspernatur!</p>
                                </div>
                            </div>
                        </div>
    </section>
    <section>
        <div class="wrap">
            <div class="tarjeta-wrap">
                <div class="tarjeta">
                    <div class="adelante card1"></div>
                    <div class="atras">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum,
                            suscipit,
                            aspernatur!</p>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante card1"></div>
                        <div class="atras">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum,
                                suscipit,
                                aspernatur!</p>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante card1"></div>
                            <div class="atras">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae.
                                    Illum, suscipit,
                                    aspernatur!</p>
                            </div>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="tarjeta-wrap">
                            <div class="tarjeta">
                                <div class="adelante card1"></div>
                                <div class="atras">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae.
                                        Illum, suscipit,
                                        aspernatur!</p>
                                </div>
                            </div>
                        </div>
    </section>
    <section>
        <div class="wrap">
            <div class="tarjeta-wrap">
                <div class="tarjeta">
                    <div class="adelante card1"></div>
                    <div class="atras">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum,
                            suscipit,
                            aspernatur!</p>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante card1"></div>
                        <div class="atras">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum,
                                suscipit,
                                aspernatur!</p>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante card1"></div>
                            <div class="atras">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae.
                                    Illum, suscipit,
                                    aspernatur!</p>
                            </div>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="tarjeta-wrap">
                            <div class="tarjeta">
                                <div class="adelante card1"></div>
                                <div class="atras">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae.
                                        Illum, suscipit,
                                        aspernatur!</p>
                                </div>
                            </div>
                        </div>
    </section>
    <section>
        <div class="wrap">
            <div class="tarjeta-wrap">
                <div class="tarjeta">
                    <div class="adelante card1"></div>
                    <div class="atras">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum,
                            suscipit,
                            aspernatur!</p>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante card1"></div>
                        <div class="atras">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum,
                                suscipit,
                                aspernatur!</p>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante card1"></div>
                            <div class="atras">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae.
                                    Illum, suscipit,
                                    aspernatur!</p>
                            </div>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="tarjeta-wrap">
                            <div class="tarjeta">
                                <div class="adelante card1"></div>
                                <div class="atras">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae.
                                        Illum, suscipit,
                                        aspernatur!</p>
                                </div>
                            </div>
                        </div>
    </section>
    <section>
        <div class="wrap">
            <div class="tarjeta-wrap">
                <div class="tarjeta">
                    <div class="adelante card1"></div>
                    <div class="atras">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum,
                            suscipit,
                            aspernatur!</p>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante card1"></div>
                        <div class="atras">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum,
                                suscipit,
                                aspernatur!</p>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante card1"></div>
                            <div class="atras">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae.
                                    Illum, suscipit,
                                    aspernatur!</p>
                            </div>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="tarjeta-wrap">
                            <div class="tarjeta">
                                <div class="adelante card1"></div>
                                <div class="atras">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae.
                                        Illum, suscipit,
                                        aspernatur!</p>
                                </div>
                            </div>
                        </div>
    </section>
    <section class="NextPrevious">
        <a href="#" class="previous">&laquo; Previous</a>
        <a href="#" class="next">Next &raquo;</a>
    </section>
    
    <footer th:replace="/fragments/footer :: footer"></footer>
    
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    
</body>

</html>